//Fonts
$principal_font: "Noto Sans", sans-serif;

//Colors
$green: #4cb8b3;
$rose: #f53756;
$yellow: #fdda00;
$purple: #752f97;
$black: #000000;
$white: #ffffff;

//Media queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
