@use 'base/variables' as v;

.footer {
    background-color: v.$rose;
    padding: 2rem 0;
    p {
        color: v.$white;
        font-weight: 100;
        margin: 0;
        text-align: center;
    }
}